##Download interactions and meta

In [4]:
!pip install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)

In [5]:
!gdown 'https://drive.google.com/uc?id=1xuujDT-vOMMkk2Kog0CTT9ADmnD8pa9D'
!gdown 'https://drive.google.com/uc?id=1ACGrQS0sX4-26D358G2i5pja1Y6CsGtz'
!gdown 'https://drive.google.com/uc?id=1ONpyuv0vrtd6iUEp0-zzkKqwpm3njEqi'
#https://drive.google.com/open?id=1xuujDT-vOMMkk2Kog0CTT9ADmnD8pa9D

Downloading...
From: https://drive.google.com/uc?id=1xuujDT-vOMMkk2Kog0CTT9ADmnD8pa9D
To: /content/goodreads_interactions_mystery_thriller_crime.json.gz
100% 1.33G/1.33G [00:12<00:00, 110MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ACGrQS0sX4-26D358G2i5pja1Y6CsGtz
To: /content/goodreads_books_mystery_thriller_crime.json.gz
100% 231M/231M [00:03<00:00, 57.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ONpyuv0vrtd6iUEp0-zzkKqwpm3njEqi
To: /content/goodreads_reviews_mystery_thriller_crime.json.gz
100% 610M/610M [00:12<00:00, 49.3MB/s]

# Display Sample Records

In [6]:
import gzip
import json
import re
import os
import sys
import numpy as np
import pandas as pd

**Specify your directory here:**

In [7]:
DIR = './'

**This function shows how to load datasets**

In [8]:
def load_data(file_name, head = 500):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

**Load and display sample records of books/authors/works/series**

In [9]:
interactions = load_data(os.path.join(DIR, 'goodreads_interactions_mystery_thriller_crime.json.gz'))
books = load_data(os.path.join(DIR, 'goodreads_books_mystery_thriller_crime.json.gz'))
reviews = load_data(os.path.join(DIR, 'goodreads_reviews_mystery_thriller_crime.json.gz'))

In [10]:
print(' == sample record (interactions) ==')
display(np.random.choice(interactions))
print(' == sample record (books) ==')
display(np.random.choice(books))
print(' == sample record (reviews) ==')
display(np.random.choice(reviews))

 == sample record (interactions) ==

{'book_id': '8442457',
 'date_added': 'Wed Feb 20 19:53:27 -0800 2013',
 'date_updated': 'Wed Feb 20 19:53:30 -0800 2013',
 'is_read': True,
 'rating': 4,
 'read_at': '',
 'review_id': 'c847345b6f69bb02a565539803e3163d',
 'review_text_incomplete': '',
 'started_at': '',
 'user_id': 'd986f354a045ffb91234e4af4d1b12fd'}

 == sample record (books) ==

{'asin': '',
 'authors': [{'author_id': '477286', 'role': ''},
  {'author_id': '256987', 'role': ''}],
 'average_rating': '3.93',
 'book_id': '7639880',
 'country_code': 'US',
 'description': 'Tan Zhen Xue Yuan niChu Deng Xiao shitakiyuuwohazimetosuruQkurasuno5Ren . satsusokuTuan Xue Yuan Chang karaYu eraretaChu Ren Wu , sorehaShan Ao no2tsunoCun deQi kiruBu Ke Jie naShi Zong Shi Jian ----"Shen Yin shi"noMi woJie kukoto. Cun woFang reta5Ren ha, Jiu Ri Ben Jun noCai Bao Chuan Shuo to, Yi Shen Jiao (ekishinkiyou)toiuQi Miao naZong Jiao nimatsuwaruBu Wen naZun woWen ku. sonoShi Xian , "Shen Yin shiSha Ren "gaFa Sheng !!',
 'edition_information': '',
 'format': 'Paperback',
 'image_url': 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png',
 'is_ebook': 'false',
 'isbn': '979205961X',
 'isbn13': '9789792059618',
 'kindle_asin': '',
 'language_code': 'ind',
 'link': 'https://www.goodreads.com/book/show/7639880-detective-school-q-vol-3',
 'num_pages': '',
 'popular_shelves': [{'count': '28', 'name': 'to-read'},
  {'count': '22', 'name': 'manga'},
  {'count': '3', 'name': 'komik'},
  {'count': '2', 'name': 'shounen'},
  {'count': '2', 'name': 'comic'},
  {'count': '2', 'name': 'mystery'},
  {'count': '2', 'name': 'indonesian'},
  {'count': '1', 'name': 'manga-and-comics'},
  {'count': '1', 'name': 'great-series'},
  {'count': '1', 'name': 'funny-fellows'},
  {'count': '1', 'name': 'favorite-manga-from-all-time'},
  {'count': '1', 'name': 'detectives-and-mystery'},
  {'count': '1', 'name': 'book-boyfriends'},
  {'count': '1', 'name': 'misteri'},
  {'count': '1', 'name': 'elex-media-komputindo'},
  {'count': '1', 'name': 'jap-manga'},
  {'count': '1', 'name': 'terminal-jomblang'},
  {'count': '1', 'name': 'c-fumiya-sato'},
  {'count': '1', 'name': 'all-comics'},
  {'count': '1', 'name': 'comics-manga-graphics-sketches'},
  {'count': '1', 'name': 'favorites'},
  {'count': '1', 'name': 'reviews-written'},
  {'count': '1', 'name': 'read-in-2015'},
  {'count': '1', 'name': 'shonen-manga'},
  {'count': '1', 'name': 'softcopy'},
  {'count': '1', 'name': 'shounen-mangas'},
  {'count': '1', 'name': '0-japanese'},
  {'count': '1', 'name': 'glass-onion'},
  {'count': '1', 'name': 'detective'},
  {'count': '1', 'name': '2-fiction'},
  {'count': '1', 'name': '1-international'},
  {'count': '1', 'name': 'currently-reading'},
  {'count': '1', 'name': 'serial-detective'},
  {'count': '1', 'name': 'punya'},
  {'count': '1', 'name': 'manga-manhwa-manhua'},
  {'count': '1', 'name': 'manga-tantei'},
  {'count': '1', 'name': 'ebook'},
  {'count': '1', 'name': 'owned'},
  {'count': '1', 'name': 'humor'},
  {'count': '1', 'name': 'thriller'},
  {'count': '1', 'name': 'friendship'},
  {'count': '1', 'name': 'adventure'},
  {'count': '1', 'name': 'manga-kubaca'}],
 'publication_day': '9',
 'publication_month': '8',
 'publication_year': '2004',
 'publisher': 'PT Elex Media Komputindo',
 'ratings_count': '111',
 'series': ['301744'],
 'similar_books': [],
 'text_reviews_count': '3',
 'title': 'Detective School Q Vol. 3',
 'title_without_series': 'Detective School Q Vol. 3',
 'url': 'https://www.goodreads.com/book/show/7639880-detective-school-q-vol-3',
 'work_id': '10167216'}

 == sample record (reviews) ==

{'book_id': '13398347',
 'date_added': 'Sun Jun 22 19:11:56 -0700 2014',
 'date_updated': 'Sun Jun 22 19:28:17 -0700 2014',
 'n_comments': 0,
 'n_votes': 0,
 'rating': 2,
 'read_at': 'Sun Jun 22 00:00:00 -0700 2014',
 'review_id': '615a184e02bc0e5bc1166e6abb9e5ff2',
 'review_text': 'Winters has a creepy crawly idea but isn\'t really a good enough writer to pull it off in all of its creepy crawliness. \n That might sound harsh, but it\'s a pet peeve of mine when writers rely on dropping brand names instead of descriptions. It\'s the lazy writer\'s way of creating atmosphere, and it doesn\'t work. I don\'t need to know what kind of knives (Henckels) or bed (Design Within Reach) the couple owns, or what kind of denim jacket (H&M) the nanny has, what kind of technology (MacBook, iPhone) Susan uses, or where she grocery shops (Trader Joes). But Winters drops it all for absolutely no useful point. He\'s capitalizing on the bedbug frenzy in New York, but he just dates his novel instead. \n If he\'d intended to paint the couple as likeable yuppies, he missed the mark. He should have shown those bits of pricy setting and props instead of just naming them. And his laziness carried over to the denouement, which felt rushed and not as creepy, tense, or gory as I wanted it to be. \n A note on the audiobook: the narrator, Elisabeth Rodgers, does a fine job, but she has to read the couple\'s four year old, Emma, and she "does" a child\'s voice, which is uber cute and absolutely hateful. I don\'t want an adult woman to read a four year old\'s "adorable" (it\'s not adorable) lispy and excited voice. I\'d have read a hard copy if I knew this beforehand.',
 'started_at': 'Thu Jun 19 00:00:00 -0700 2014',
 'user_id': '0ef32090550901ead25cb0ea21c4d36b'}

##Pandas dataframe

In [11]:
interactions_df = pd.DataFrame(interactions)
books_df = pd.DataFrame(books)
reviews_df = pd.DataFrame(reviews)

In [12]:
interactions_df.head()

                            user_id  ...                      started_at
0  8842281e1d1347389f2ab93d60773d4d  ...  Mon Jul 24 00:00:00 -0700 2017
1  8842281e1d1347389f2ab93d60773d4d  ...
2  8842281e1d1347389f2ab93d60773d4d  ...
3  8842281e1d1347389f2ab93d60773d4d  ...
4  8842281e1d1347389f2ab93d60773d4d  ...  Fri Mar 17 23:45:40 -0700 2017

[5 rows x 10 columns]

In [13]:
books_df.head()

         isbn  ...                                        title_without_series
0  184737297X  ...                   Crowner Royal (Crowner John Mystery, #13)
1              ...                     The House of Memory (Pluto's Snitch #2)
2              ...  The Slaughtered Virgin of Zenopolis (Inspector Capstan #1)
3  0854563903  ...                     Dead in the Morning (Patrick Grant, #1)
4  8838920931  ...                            Aristotele e i misteri di Eleusi

[5 rows x 29 columns]

In [14]:
reviews_df.head()

                            user_id   book_id  ... n_votes  n_comments
0  8842281e1d1347389f2ab93d60773d4d   6392944  ...       6           0
1  8842281e1d1347389f2ab93d60773d4d  28684704  ...      22           0
2  8842281e1d1347389f2ab93d60773d4d  32283133  ...       9           0
3  8842281e1d1347389f2ab93d60773d4d  17860739  ...       7           0
4  8842281e1d1347389f2ab93d60773d4d   8694005  ...      17           6

[5 rows x 11 columns]

##Preprocessing

In [15]:
byuser = reviews_df.groupby("user_id").count().sort_values("book_id", ascending = False)
print(byuser.shape)
byuser.head()

(42, 10)

                                  book_id  review_id  ...  n_votes  n_comments
user_id                                               ...
0ef32090550901ead25cb0ea21c4d36b      186        186  ...      186         186
f88032f4ad97b46654fe59ce3387cf5d       37         37  ...       37          37
01ec1a320ffded6b2dd47833f2c8e4fb       35         35  ...       35          35
cd6522e9018f2f77332ec74f928f8c45       32         32  ...       32          32
8842281e1d1347389f2ab93d60773d4d       27         27  ...       27          27

[5 rows x 10 columns]

In [16]:
byuser = interactions_df.groupby("user_id").count().sort_values("book_id", ascending = False)
print(byuser.shape)
byuser.head()

(12, 9)

                                  book_id  review_id  ...  read_at  started_at
user_id                                               ...
f8a89075dc6de14857561522e729f82c      224        224  ...      224         224
8842281e1d1347389f2ab93d60773d4d       98         98  ...       98          98
ab2923b738ea3082f5f3efcbbfacb218       35         35  ...       35          35
7504b2aee1ecb5b2872d3da381c6c91e       30         30  ...       30          30
704eb93a316aff687a93d5215882eb21       22         22  ...       22          22

[5 rows x 9 columns]

In [17]:
reviews_subset = reviews_df.sample(5)
reviews_df.drop(reviews_subset.index)

                              user_id   book_id  ... n_votes  n_comments
0    8842281e1d1347389f2ab93d60773d4d   6392944  ...       6           0
1    8842281e1d1347389f2ab93d60773d4d  28684704  ...      22           0
2    8842281e1d1347389f2ab93d60773d4d  32283133  ...       9           0
3    8842281e1d1347389f2ab93d60773d4d  17860739  ...       7           0
4    8842281e1d1347389f2ab93d60773d4d   8694005  ...      17           6
..                                ...       ...  ...     ...         ...
496  cd6522e9018f2f77332ec74f928f8c45  16142872  ...       0           0
497  cd6522e9018f2f77332ec74f928f8c45  16101749  ...       0           0
498  cd6522e9018f2f77332ec74f928f8c45  15705902  ...       0           0
499  cd6522e9018f2f77332ec74f928f8c45  15738795  ...       0           0
500  cd6522e9018f2f77332ec74f928f8c45  21836934  ...       0           0

[496 rows x 11 columns]

##CF

In [18]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     || 11.8 MB 4.7 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1623232 sha256=e85c173895783116206b1665fb8869e4fa434ad70b03d450778127f64dd57466
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [19]:
import surprise
from surprise import KNNWithMeans
from surprise import Dataset
from surprise import Reader

In [20]:
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [21]:
reader = Reader(rating_scale=(1, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(reviews_df[["user_id", "book_id", "rating"]], reader)
trainingSet = data.build_full_trainset()

In [22]:
algo.fit(trainingSet)

Computing the cosine similarity matrix...
Done computing similarity matrix.

/usr/local/lib/python3.7/dist-packages/surprise/prediction_algorithms/algo_base.py:249: RuntimeWarning: invalid value encountered in double_scalars
  sim = construction_func[name](*args)

In [23]:
for index, row in reviews_subset.iterrows():
  print(row)
  print(algo.predict(row["user_id"], row["book_id"]))

algo.predict("8842281e1d1347389f2ab93d60773d4d", "6392944")

user_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  8842281e1d1347389f2ab93d60773d4d
book_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              2052
review_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                8b08f156b1fc6708aa7dceff1a000ab4
rating                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5
review_text     A classic LA detective novel - loved it. The opening paragraph says it all: \n "It was about eleven o'clock in the morning, mid-october, with the sun not shining, and a look of hard rain in the clearness of the foothills. I was wearing my powder-blue shirt, tie and display handkerchief, black brogues, black wool socks with dark blue clocks on them. I was neat, clean, shaved and sober, and didn't care who knew it. I was everything the well-dressed private detective ought to be. I was calling on four million dollars."
date_added                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Mon Dec 18 11:10:25 -0800 2006
date_updated                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Wed Mar 22 11:44:51 -0700 2017
read_at                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Tue May 01 00:00:00 -0700 2007
started_at
n_votes                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3
n_comments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              2
Name: 20, dtype: object
user: 8842281e1d1347389f2ab93d60773d4d item: 2052       r_ui = None   est = 5.00   {'actual_k': 25, 'was_impossible': False}
user_id                                                                                                                            720a4945e12bbc11051589b7eb1facde
book_id                                                                                                                                                    35789068
review_id                                                                                                                          1ac49d2922b2eec458ef1affd22fdeff
rating                                                                                                                                                            5
review_text     OMG! This book is just mind-blowing. It's completely different to anything I have ever read. Gripping as hell and Erika is just incredible (AGAIN!)
date_added                                                                                                                           Tue Jul 25 13:57:46 -0700 2017
date_updated                                                                                                                         Tue Jul 25 14:00:42 -0700 2017
read_at
started_at
n_votes                                                                                                                                                          35
n_comments                                                                                                                                                        1
Name: 401, dtype: object
user: 720a4945e12bbc11051589b7eb1facde item: 35789068   r_ui = None   est = 5.00   {'actual_k': 8, 'was_impossible': False}
user_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                01ec1a320ffded6b2dd47833f2c8e4fb
book_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        30753651
review_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              90e62fc0d217ca2d29f60295381dd058
rating                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                5
review_text     "Cheers," she says, raising her tumbler. "To remembering." \n Frank clinks his glass against hers and he smiles. "And to you," he says. "For being so generous." \n "Oh," she says. "I don't know about generous. Stupid more like." \n "Maybe both," he says. \n "Yeah. I'll go with that. Story of my life. Generous and stupid." \n OMG!!! I did not want this book to end!! What a page-turner. Moody, evocative and thrilling, Lisa Jewell's writing surprised and enthralled me from beginning to end. \n This book begins with Alice, a frazzled single mother living in a tiny seaside town in England, find...
date_added                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Tue Aug 16 18:24:22 -0700 2016
date_updated                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Fri Apr 28 12:21:45 -0700 2017
read_at                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Thu Apr 20 10:28:22 -0700 2017
started_at
n_votes                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               9
n_comments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3
Name: 56, dtype: object
user: 01ec1a320ffded6b2dd47833f2c8e4fb item: 30753651   r_ui = None   est = 5.00   {'actual_k': 35, 'was_impossible': False}
user_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                f88032f4ad97b46654fe59ce3387cf5d
book_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        18192713
review_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              4074d8ba64760c9f0f86e10688b29459
rating                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                5
review_text     Cache a Predator by Michelle Weidenbenner is a mystery novel dealing with injustice, loss, fear, love and psychology. Her mixing of the psychological element with mystery and crime adds to the richness of her novel. \n Cache a Predator opens with a shocking scene, where an unknown person mutilates a dead man by cutting off his penis. This first part is narrated in the first person; and throughout the novel we get to see certain acts and scenes through the eyes of the mutilator; the "pecker-whacker". \n The novel also focuses on Brett Reed, a police officer in the town of Hursey Lake, who i...
date_added                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Sun Aug 25 05:12:10 -0700 2013
date_updated                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Fri Dec 26 12:42:51 -0800 2014
read_at
started_at
n_votes                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
n_comments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2
Name: 449, dtype: object
user: f88032f4ad97b46654fe59ce3387cf5d item: 18192713   r_ui = None   est = 5.00   {'actual_k': 36, 'was_impossible': False}
user_id                                                  0ef32090550901ead25cb0ea21c4d36b
book_id                                                                            215605
review_id                                                fae6d5657490335b1fca593539e84978
rating                                                                                  4
review_text     Interesting mystery with a potentially unreliable narrator, which I like.
date_added                                                 Sat Apr 05 07:42:56 -0700 2008
date_updated                                               Sat Apr 05 07:43:35 -0700 2008
read_at
started_at
n_votes                                                                                 0

Prediction(uid='8842281e1d1347389f2ab93d60773d4d', iid='6392944', r_ui=None, est=3.0, details={'actual_k': 25, 'was_impossible': False})

In [24]:
reviews_subset.head(5)

                              user_id   book_id  ... n_votes  n_comments
20   8842281e1d1347389f2ab93d60773d4d      2052  ...       3           2
401  720a4945e12bbc11051589b7eb1facde  35789068  ...      35           1
56   01ec1a320ffded6b2dd47833f2c8e4fb  30753651  ...       9           3
449  f88032f4ad97b46654fe59ce3387cf5d  18192713  ...       3           2
266  0ef32090550901ead25cb0ea21c4d36b    215605  ...       0           0

[5 rows x 11 columns]

##Fast.ai library

from fastai.tabular.all import *
from fastai.collab import *

In [25]:
!pip3 install fastai

Requirement already satisfied: fastai in /usr/local/lib/python3.7/dist-packages (2.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from fastai) (1.0.2)
Requirement already satisfied: torchvision>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from fastai) (0.11.1+cu111)
Requirement already satisfied: fastcore<1.4,>=1.3.22 in /usr/local/lib/python3.7/dist-packages (from fastai) (1.3.27)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from fastai) (2.23.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from fastai) (3.13)
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.7/dist-packages (from fastai) (1.0.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from fastai) (1.4.1)
Requirement already satisfied: torch<1.11,>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from fastai) (1.10.0+cu111)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from fastai) (21.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fastai) (1.1.5)
Requirement already satisfied: pillow>6.0.0 in /usr/local/lib/python3.7/dist-packages (from fastai) (7.1.2)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from fastai) (0.0.5)
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.7/dist-packages (from fastai) (2.2.4)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from fastai) (21.1.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from fastai) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fastprogress>=0.2.4->fastai) (1.19.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (1.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (3.0.6)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (2.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (1.0.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (57.4.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (0.4.1)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (1.0.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (4.62.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (0.9.0)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (7.4.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai) (1.1.3)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<4->fastai) (4.10.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<4->fastai) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<4->fastai) (3.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->fastai) (2.10)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fastai) (3.0.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->fastai) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fastai) (2018.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->fastai) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->fastai) (1.1.0)

In [26]:
import fastai
from fastai.tabular import *
from fastai.collab import *

In [27]:
#  By default, it takes the first column for user, the second column for the item and the third column for the ratings.
dls = CollabDataLoaders.from_df(reviews_df[["user_id", "book_id", "rating"]])

In [28]:
learn = collab_learner(dls, n_factors=50, y_range=(0, 5.5))

In [29]:
learn.fit_one_cycle(5, 5e-3, wd=0.1)